body{
    height: 100vh;
            
    
    font-family: Arial, Helvetica, sans-serif;

    
}
.container-fluid{
    padding: 3% 10% 1%;
  }

.navbar{
  padding: 0 0 4.5rem;
  align-items: center;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

.attributes:hover{
    cursor: pointer;
}
.banner{
    margin: 0 5% ;
    background-image: url("https://img.collegepravesh.com/2016/01/NIEC-Delhi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 15% 4%;
    text-align: center;
    width: 90%;
  height: 75%;
}
.banner-head h1{
    font-weight: 900;
    font-size: 3.5rem;
    padding: 2.5% 0;
}
.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    z-index: 100;
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.left-section{
   margin-top: 20px;
   margin-right: 230px;
   width: 370px;
}
.college-logo{
    width: 100%;
}
.right-section{
   display: flex;
   flex-direction: row;
   font-size: 16px;
   justify-content: space-between;
   width: 600px;
   margin-top: 20px;
}
.attributes:hover{
    cursor: pointer;
}