
body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
.container-fluid{
    padding: 1% 10% 1%;
  }
.navbar{
  background-color: rgb(173, 182, 162);
  align-items: center;
  width: 100%;
 
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;
  color: #ffffff;
}

.attributes:hover{
    cursor: pointer;
}
.banner{
    margin: 3% 5% ;
    background-image: url("https://img.collegepravesh.com/2016/01/NIEC-Delhi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 10% ;
    text-align: center;
    width: 90%;
  height: 75%;
}
.banner-head h1{
    font-weight: 900;
    font-size: 2.5rem;
    padding: 2.5% 0;
}

#testimonials{
  text-align: center;
}
#testimonials h1{
  padding-top: 3%;
    font-weight: 800;
    font-size: 3rem;
}
 
.carousel-item{
padding:3% 7% 3%;
}
.testimonials-heading{
color: rgb(18, 17, 17);
font-family: Montserrat;
font-weight: bold;
font-size: 1.5rem;
line-height: 2rem;
}
.testimonials-img{
width: 10%;
border-radius: 100%;
margin: 20px;
}
#academics{
  align-items: center;
  text-align: center;
}
#academics .row{
  padding: 4% 7% ;
}
#academics h1{
  font-size: 4.5rem;
  font-family: Montserrat;
  font-weight: bold;
}
#academics p{
  font-size: 1.6rem;
  font-family: Montserrat;
  line-height: 1.8rem;;
}
#academics img{
 height: 300px; 
}

#placement{
  align-items: center;
  text-align: center;
}
#placement .row{
  padding: 4% 7% ;
}
#placement h1{
  font-size: 4.5rem;
  font-family: Montserrat;
  font-weight: bold;
}
#placement p{
  font-size: 1.6rem;
  font-family: Montserrat;
  line-height: 1.8rem;;
}
#placement img{
 height: 500px; 
}
#course{
  align-items: center;
  text-align: center;
}
#course .row{
  padding: 4% 7% ;
}
#course h1{
  font-size: 4.5rem;
  font-family: Montserrat;
  font-weight: bold;
}
#course li{
  font-size: 1.6rem;
  font-family: Montserrat;
  line-height: 1.8rem;;
}
#course img{
 height: 300px; 
}

#footer{
  align-items: center;
  background-color:  rgb(173, 182, 162);
}
#footer .row{
  padding: 4% 7% ;
}
#footer a{
  color: #ffffff;
}
#footer li{
  color: #ffffff;
}
.credit{
  background-color: rgb(42, 3, 79);
}
.credit p{
  text-align: center;
  color: white;

}